.slid-four{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/p4.jpg');
    background-attachment:fixed;
    background-size: cover;
}
@media screen and (max-width:640px) {
    .slid-four{
        background-position: center;
    }
    
}