.contact-icon{
    width: 100px;
    height:100px;
    background-color: black;
    border-radius: 100%;
    position:sticky;
    top:80%;
    left:90%;
    z-index: 5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 8px white;
    margin-bottom: -100px;
    animation-name: contact;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.contact-icon a{
    text-decoration: none;
    color: white;
}
@keyframes contact {
    0%{border: solid 10px red;}
    25%{border: solid 10px blue;}
    50%{border: solid 10px yellow;}
    75%{border: solid 10px green;}
    100%{border: solid 10px cyan;}
}