.p-2-gallary{
    width:100%;
    height:auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:20px 0px;
}
@media screen and (max-width:640px) {
    .p-2-gallary{
        flex-direction: column;
    }
    .p-2-gallary img{
        margin-top:20px;
    }
}